### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
from email import header
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
print(school_data_complete)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]

In [2]:
# total number of schools

total_number_schools= len(school_data)
total_number_schools

15

In [3]:
#total number of students
total_number_students= len(student_data)
total_number_students

39170

In [4]:
total_budget = school_data["budget"].sum()

total_budget

24649428

In [8]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [5]:

#average math score
avg_math_score = (student_data["math_score"]).mean()
avg_math_score

78.98537145774827

In [6]:
#avg read score

avg_read_score = (student_data["reading_score"]).mean()
avg_read_score

81.87784018381414

In [7]:
#percent of students w/ passing math score >= 70



passing_math_df= student_data["math_score"]>=70
cent_passing_math= passing_math_df.sum()

passing_math_percent= (cent_passing_math/total_number_students)* 100
passing_math_percent

74.9808526933878

In [9]:
#percent studfents w/ passing reading score
passing_read_df= student_data["reading_score"]>=70
cent_passing_read= passing_read_df.sum()

passing_read_percent= (cent_passing_read/total_number_students)* 100
passing_read_percent

85.80546336482001

In [11]:
passing_df= student_data.loc[(student_data["reading_score"]>= 70) & (student_data["math_score"]>=70)]
cent_passing= passing_df.shape[0]

passing_percent= (cent_passing/total_number_students)* 100
passing_percent

65.17232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
#district summary
district_summary_df = ({"total schools":[total_number_schools],
                        "total students": [total_number_students],
                        "total budget":[total_budget],
                        "avg math score":[avg_math_score],
                        "avg reading score":[avg_read_score],
                        "percent passing reading":[cent_passing_read],
                        "passing_math_percent":[cent_passing_math],
                        "percent passing math and reading":[cent_passing]})
district_summary_df

{'total schools': [15],
 'total students': [39170],
 'total budget': [24649428],
 'avg_math_score': [78.98537145774827],
 'avg_reading score': [81.87784018381414],
 'percent passing reading': [33610],
 'passing_math_percent': [29370],
 'percent passing math and reading': [25528]}

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [47]:
#school name and type, now its a DF

school_name_type= school_data[["school_name","type"]]
school_name_type

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [18]:
#school size series
school_size=school_data["size"]
school_size

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [35]:
#total school budget by student count
budget_per_student= school_data["budget"]/school_data["size"]
budget_per_student

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [30]:



school_name_type["school size"]= school_size
school_name_type

C:\Users\andreas h\AppData\Local\Temp\ipykernel_13240\203609777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_name_type["school size"]= school_size

              school_name      type  school size
0       Huang High School  District         2917
1    Figueroa High School  District         2949
2     Shelton High School   Charter         1761
3   Hernandez High School  District         4635
4     Griffin High School   Charter         1468
5      Wilson High School   Charter         2283
6     Cabrera High School   Charter         1858
7      Bailey High School  District         4976
8      Holden High School   Charter          427
9        Pena High School   Charter          962
10     Wright High School   Charter         1800
11  Rodriguez High School  District         3999
12    Johnson High School  District         4761
13       Ford High School  District         2739
14     Thomas High School   Charter         1635

In [31]:
school_name_type= school_data_complete.set_index("school_name")
school_name_type.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [38]:
#avg math score groupby"school_name
avg_math= school_data_complete.groupby(["school_name"]).mean(["math_score"])
avg_math

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [40]:
avg_read= school_data_complete.groupby(["school_name"]).mean(["reading_score"])
avg_read

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [58]:
#avg passing reading + math
avg_pass= school_data_complete.loc[school_data_complete["math_score"]>=70]
avg_pass_by_school=avg_pass.groupby(["school_name"]).shape[0]["student_name"] / school_data["size"] * 100
avg_pass_by_school

AttributeError: 'DataFrameGroupBy' object has no attribute 'shape'

In [61]:
#overview DF
overview_df=pd.DataFrame({"total students":school_name_type,
                        "per student budget": budget_per_student,
                        "average amth score": avg_math,
                        "average reading score": avg_read,
                        "passing math by school": avg_pass})

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type